<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yazhi1992.moon">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.startup.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 桌面小部件数据提供页 -->
        <activity android:name=".widget.WidgetDataActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <!-- 桌面小部件数据提供页 -->
        <!-- 桌面小部件 -->
        <receiver android:name=".widget.MyWidgetProvider">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.yazhi1992.moon.click_widget"/>
            </intent-filter>
        </receiver>
        <!-- 桌面小部件 -->


        <!-- bugly -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"/>
        <!-- bugly -->

        <activity android:name=".ui.bindlover.BindLoverActivity">
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
        </activity>

        <!-- QQ SSO 登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="1106624697"/>
            </intent-filter>
        </activity>
        <!-- QQ SSO 登录 -->


        <!-- 实时通信模块、推送（均需要加入以下声明） START -->
        <!-- 实时通信模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>

        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- 实时通信模块、推送 END -->
        <activity android:name=".ui.login.LoginActivity">
        </activity>
        <activity
            android:name=".ui.memorialdaylist.MemorialDayListActivity"
            android:label="纪念日">
        </activity>
        <activity
            android:name=".ui.aboutus.AboutUsActivity"
            android:label="@string/about_us">
        </activity>
        <activity android:name=".ui.addmemorialday.AddMemorialActivity">
        </activity>
        <activity android:name=".ui.addhope.AddHopeActivity">
        </activity>
        <activity android:name=".ui.addtext.AddTextActivity">
        </activity>
        <activity android:name=".ui.memorialdaydetail.MemorialDayDetailActivity">
        </activity>
        <activity android:name=".ui.hopelist.HopeListActivity">
        </activity>
        <activity android:name=".ui.hopedetail.HopeDetailActivity">
        </activity>
        <activity android:name=".ui.textdetail.TextDetailActivity">
        </activity>

        <provider
            android:name=".util.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

    </application>



</manifest>